<!DOCTYPE html>
<html>
    <script>
        var xmlhttp = new XMLHttpRequest();
        function load_questions(){
            xmlhttp.open('GET', '/api/questionnaire/58d04f6e373f750fcf6e7fef', true);
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4) {
                    if(xmlhttp.status == 200) {
                        questions = JSON.parse(xmlhttp.responseText).questions;
                    }
                }
            };
            xmlhttp.send(null);
        }
    </script>
    <head>
        <title>AWS</title>
    </head>
    <body onload="load_questions()">
        <div id="chat">
            <p class="bot_message">Welcome {username}</p>
        </div>
        <input type="text" id="input">
    <script type="text/javascript">
        var questions;
        var petition = {};
        petition.questionnaire = [];
        petition.user = 'user or something'
        document.getElementById("input")
            .addEventListener("keyup", function(event) {
            event.preventDefault();
            if (event.keyCode == 13) {
                if (document.getElementById("input").value!='') {
                    chat = document.getElementById('chat');
                    var para = document.createElement("P");
                    para.className = 'user_message message';
                    para.align = 'right';
                    var t = document.createTextNode(document.getElementById('input').value);
                    para.appendChild(t);
                    chat.appendChild(para);
                    document.getElementById("input").value = '';
                    bot_messages = document.getElementsByClassName('bot_message');
                    user_messages = document.getElementsByClassName('user_message');
                    charge_code_message = 'What is your charge code?';
                    messages = document.getElementsByClassName('message');

                    function send_petition(){
                        xmlhttp.onreadystatechange = function() {
                            if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                                if(xmlhttp.status == 201){
                                    m='Your server is being commissioned...'
                                    bot_simple_message(m)
                                    m='Posting the details in 2 minutes'
                                    bot_simple_message(m)
                                }else{
                                    m='ERROR'
                                    bot_simple_message(m)
                                }
                                chat.scrollTop = chat.scrollHeight;
                            }
                        }
                        xmlhttp.open("post", "/api/petition/");
                        xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                        xmlhttp.send(JSON.stringify(petition));
                    }

                    function makeOL(array) {
                        var list = document.createElement('ol');
                        list.type = 'a';
                        list.className = 'bot_message message';
                        list.align = 'left';
                        for(var i = 0; i < array.length; i++) {
                            var item = document.createElement('li');
                            item.appendChild(document.createTextNode(array[i]));
                            list.appendChild(item);
                        }
                        return list;
                    }

                    function bot_simple_message(message){
                        var para = document.createElement("P");
                        para.className = 'bot_message message';
                        para.align = 'left';
                        para.appendChild(document.createTextNode(message));
                        chat.appendChild(para)
                    }

                    function post_1st_question(){
                        var para = document.createElement("P");
                        para.className = 'bot_message message';
                        para.align = 'left';

                        answers = questions[0].answers.map(function(answer){
                            return answer.answer});

                        para.appendChild(document.createTextNode(questions[0].question));
                        chat.appendChild(para);
                        chat.appendChild(makeOL(answers));
                    }

                    function post_n_question(n){
                        var para = document.createElement("P");
                        para.className = 'bot_message message';
                        para.align = 'left';
                        try{
                            answers = questions[n].answers.map(function(answer){
                                return answer.answer});
                            para.appendChild(document.createTextNode(questions[n].question));
                            chat.appendChild(para);
                            chat.appendChild(makeOL(answers));
                        }
                        catch(err){}
                    }

                    if (bot_messages[bot_messages.length - 1].innerHTML.startsWith('<li>')){
                        last_question = bot_messages[bot_messages.length -2].innerHTML;
                        for (var i=0; i<questions.length; i++){
                            if (questions[i].question == last_question){
                                flag = true
                                for (var j=0; j<questions[i].answers.length; j++) {
                                    if (questions[i].answers[j].letter == user_messages[user_messages.length - 1].innerHTML) {
                                        petition.questionnaire.push({
                                            'question_number': questions[i].number,
                                            'answer_letter': questions[i].answers[j].letter
                                        })
                                        post_n_question(i + 1)
                                        flag = false
                                        break
                                    }
                                }
                                if (flag){
                                    if (questions[i].number == 1) {
                                        var para = document.createElement("P");
                                        para.className = 'bot_message message';
                                        para.align = 'left';
                                        para.appendChild(document.createTextNode('Please select a valid option'));
                                        chat.appendChild(para)
                                        post_1st_question()
                                        break
                                    }
                                    else{
                                        var para = document.createElement("P");
                                        para.className = 'bot_message message';
                                        para.align = 'left';
                                        para.appendChild(document.createTextNode('Please select a valid option'));
                                        chat.appendChild(para)
                                        post_n_question(i)
                                        break
                                    }
                                }
                            }
                        }
                    }
                    if (bot_messages[bot_messages.length - 1].innerHTML.startsWith('<li>')) {
                        if (messages[messages.length - 1].className.includes('user')){
                            answers = questions[questions.length-1].answers.map(function(answer){
                                return answer.letter});
                            if (answers.includes(messages[messages.length - 1].innerHTML)){
                                send_petition()
                            }
                        }
                    }
                    if (bot_messages[bot_messages.length - 1].innerHTML.startsWith(charge_code_message)){
                        petition.charge_code = user_messages[user_messages.length-1].innerHTML;
                        post_1st_question()
                    }
                    if (bot_messages[bot_messages.length - 1].innerHTML.startsWith('Welcome')) {
                        bot_simple_message(charge_code_message)
                    }
                    chat.scrollTop = chat.scrollHeight;
                }
            }
        });
    </script>
    <style type="text/css">
    #chat{
        max-width: 400px;
        max-height: 300px;
        overflow-y: auto;
    }
    .bot_message{
        align:'left';
        color:blue;
    }
    .user_message{
        color:red;
    }
    </style>
    </body>
</html>